.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2.5rem 0 2rem 0;
}
.card {
  max-width: 35rem;
  margin: 1.8rem;
}

@media (min-width: 50em) {
  .project_cards {
    display: flex;
    flex-direction: row;
  }
  .projects {
    display: flex;
    text-align: start;
    margin: 1rem;
  }
}
